---
import { Form } from "../components/Form";
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success!!!</title>
  </head>
  <body>
    <p>Success!!!</p>
  </body>
</html>
